<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="PageNoProvider" value="True"/>
    <add key="PageSizeProvider" value="True"/>
    <add key="SendEMailToUser" value="true"/>
    <add key="SendEMailToParty" value="false"/>
  </appSettings>
  <connectionStrings>
    <remove name="AspNetDBConnection"/>
    <add name="AspNetDBConnection"  connectionString="Data Source=192.9.200.150;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
    <add name="-AspNetDBConnection"  connectionString="Data Source=.\LGSQL;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <codeSubDirectories>
        <add directoryName="STD"/>
        <add directoryName="COM"/>
      </codeSubDirectories>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="None" timeout="50"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspNetDBConnection"
          enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false"
          passwordFormat="Hashed" maxInvalidPasswordAttempts="8" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0"
          passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="AspNetDBConnection" name="AspNetSqlRoleProvider" type="system.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <sessionState cookieless="UseDeviceProfile" timeout="60"/>
    <customErrors mode="RemoteOnly"/>
    <identity impersonate="false"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <globalization culture="en-GB" uiCulture="en-GB" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages maintainScrollPositionOnPostBack="true" styleSheetTheme="Default">
      <controls>
        <add tagPrefix="AJX" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="RGV" namespace="LavaBlast.AJAX.GridViewResizeExtender" assembly="GridViewResizeExtender"/>
        <add tagPrefix="LGM" tagName="LoginLine" src="~/Sys_Controls/Login0.ascx"/>
        <add tagPrefix="LGM" tagName="LoginPage" src="~/Sys_Controls/Login1.ascx"/>
        <add tagPrefix="LGM" tagName="ChangePass" src="~/Sys_Controls/Login2.ascx"/>
        <add tagPrefix="LGM" tagName="ToolBar0" src="~/Sys_Controls/lgToolbar.ascx"/>
        <add tagPrefix="LGM" tagName="Informations" src="~/Sys_Controls/Controls/Informations.ascx"/>
        <add tagPrefix="LGM" tagName="LGLoading" src="~/Sys_Controls/lgLoading.ascx"/>
        <add tagPrefix="LGM" tagName="LGMessage" src="~/Sys_Controls/lgMessage.ascx"/>
        <add tagPrefix="LGM" tagName="LGAlert" src="~/Sys_Controls/lgAlert.ascx"/>
        <add tagPrefix="LGM" tagName="EmployeeInfoForReports" src="~/Sys_Controls/EmployeeInfoForReports.ascx"/>

        <add tagPrefix="LGM" tagName="LC_comDepartments" src="~/COM_Main/APP_FKControls/LC_comDepartments.ascx"/>
        <add tagPrefix="LGM" tagName="LC_comOffices" src="~/COM_Main/APP_FKControls/LC_comOffices.ascx"/>
        <add tagPrefix="LGM" tagName="LC_comDesignations" src="~/COM_Main/APP_FKControls/LC_comDesignations.ascx"/>
        <add tagPrefix="LGM" tagName="LC_comEmployees" src="~/COM_Main/APP_FKControls/LC_comEmployees.ascx"/>
        <add tagPrefix="LGM" tagName="LC_comUsers" src="~/COM_Main/APP_FKControls/LC_comUsers.ascx"/>
        <add tagPrefix="LGM" tagName="LC_comGroups" src="~/COM_Main/APP_FKControls/LC_comGroups.ascx"/>
        <add tagPrefix="LGM" tagName="LC_comCompanies" src="~/COM_Main/APP_FKControls/LC_comCompanies.ascx"/>
        <add tagPrefix="LGM" tagName="LC_comFinanceCompany" src="~/COM_Main/APP_FKControls/LC_comFinanceCompany.ascx" />

        <add tagPrefix="LGM" tagName="LC_spmtBillStatus" src="~/SPMT_Main/APP_FKControls/LC_spmtBillStatus.ascx"/>
        <add tagPrefix="LGM" tagName="LC_spmtTranTypes" src="~/SPMT_Main/APP_FKControls/LC_spmtTranTypes.ascx"/>
        <add tagPrefix="LGM" tagName="LC_spmtPAStatus" src="~/SPMT_Main/APP_FKControls/LC_spmtPAStatus.ascx"/>
        <add tagPrefix="LGM" tagName="LC_spmtReturnReason" src="~/SPMT_Main/APP_FKControls/LC_spmtReturnReason.ascx"/>
        <add tagPrefix="LGM" tagName="LC_spmtCostCenters" src="~/SPMT_Main/APP_FKControls/LC_spmtCostCenters.ascx"/>


        <add tagPrefix="LGM" tagName="LC_spmtIsgecGSTIN" src="~/SPMT_Main/APP_FKControls/LC_spmtIsgecGSTIN.ascx"/>
        <add tagPrefix="LGM" tagName="LC_spmtBillTypes" src="~/SPMT_Main/APP_FKControls/LC_spmtBillTypes.ascx"/>
        <add tagPrefix="LGM" tagName="LC_spmtHSNSACCodes" src="~/SPMT_Main/APP_FKControls/LC_spmtHSNSACCodes.ascx"/>
        <add tagPrefix="LGM" tagName="LC_spmtERPUnits" src="~/SPMT_Main/APP_FKControls/LC_spmtERPUnits.ascx"/>
        <add tagPrefix="LGM" tagName="LC_spmtERPStates" src="~/SPMT_Main/APP_FKControls/LC_spmtERPStates.ascx"/>
        <add tagPrefix="LGM" tagName="LC_spmtBusinessPartner" src="~/SPMT_Main/APP_FKControls/LC_spmtBusinessPartner.ascx"/>
        <add tagPrefix="LGM" tagName="LC_spmtBPGSTIN" src="~/SPMT_Main/APP_FKControls/LC_spmtBPGSTIN.ascx"/>

        <add tagPrefix="LGM" tagName="LC_spmtAirTicketStatus" src="~/SPMT_Main/APP_FKControls/LC_spmtAirTicketStatus.ascx"/>
        <add tagPrefix="LGM" tagName="LC_spmtAirTicket" src="~/SPMT_Main/APP_FKControls/LC_spmtAirTicket.ascx"/>

        <add tagPrefix="LGM" tagName="LC_spmtDCStates" src="~/SPMT_Main/APP_FKControls/LC_spmtDCStates.ascx"/>
        <add tagPrefix="LGM" tagName="LC_spmtDCLastNumber" src="~/SPMT_Main/APP_FKControls/LC_spmtDCLastNumber.ascx"/>
        <add tagPrefix="LGM" tagName="LC_spmtModeOfTransport" src="~/SPMT_Main/APP_FKControls/LC_spmtModeOfTransport.ascx"/>

        <add tagPrefix="LGM" tagName="LC_spmtNewSBD" src="~/SPMT_Main/APP_FKControls/LC_spmtNewSBD.ascx"/>
        <add tagPrefix="LGM" tagName="LC_spmtNewSBH" src="~/SPMT_Main/APP_FKControls/LC_spmtNewSBH.ascx"/>
        <add tagPrefix="LGM" tagName="LC_spmtNewPA" src="~/SPMT_Main/APP_FKControls/LC_spmtNewPA.ascx"/>

      </controls>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <!--<smtp from="leave@isgec.co.in">
        <network host="192.9.200.214" userName="leave" password="ijt123"/>
      </smtp>-->
      <smtp from="autogenerated@isgec.co.in">
        <network host="192.9.200.214" userName="autogenerated" password="ijt"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000"/>
      </requestFiltering>
    </security>
    <handlers>
      <add name="RPTX" path="*.rptx" verb="*" type="SIS.SYS.Utilities.rptxHandler" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>